/********* FONTES *********/
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/OpenSans-Light.ttf"); 
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url("../fonts/OpenSans-Regular.ttf"); 
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url("../fonts/OpenSans-Bold.ttf"); 
}
/******* CORES *******/
$branco: #fff;
$verde: #a2ca28;
$verde_hover: #81a319;
$laranja: #fd634e;
$cinza: #8297a7;
$cinza_claro: #e3e9ea;
$cinza_escuro: #656e74;
$preto_footer: #0d1119;
$facebook: #2e3192;
$twitter: #00aeef;
$youtube: #ed3123;
$linkedin: #171a8f;

/******* MIXINS *******/
@mixin font_uppercase(){
	text-transform: uppercase;
}
@mixin font_light(){
	font-family: 'OpenSans-Light', sans-serif;
}
@mixin font_regular(){
	font-family: 'OpenSans-Regular', sans-serif;
}
@mixin font_bold(){
	font-family: 'OpenSans-Bold', sans-serif;
}
@mixin font_laranja(){
	color: $laranja;
}
@mixin font_verde(){
	color: $verde;
}
@mixin transicao_rapida(){
	transition: .2s ease-in all;
	-webkit-transition: .2s ease-in all;
	-moz-transition: .2s ease-in all;
	-o-transition: .2s ease-in all;
}
@mixin transicao_suave(){
	transition: .4s ease-in all;
	-webkit-transition: .4s ease-in all;
	-moz-transition: .4s ease-in all;
	-o-transition: .4s ease-in all;
}
@mixin navbar_opacidade(){
	background: rgba(0,0,0,.5);
	padding-top: .5rem;
	padding-bottom: .5rem;
	@include transicao_suave();
}
@mixin background_position_img(){
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
@mixin a_link(){
	color: $branco;
	text-decoration: none;
	position: relative;
	margin-top: 1rem;
	display: inline-block;
	padding: 1rem;
	&:hover	i{
		transform: translate3d(.8rem,0,0);
		@include transicao_rapida();			
	}
	i{
		position: relative;		
		font-size: 1.5rem;
		margin-left: .5rem;	
	}	
}
@mixin box_shadow(){
	box-shadow: 0px 0px 10px $cinza_claro;
	-webkit-box-shadow: 0px 0px 10px $cinza_claro;
	-moz-box-shadow: 0px 0px 10px $cinza_claro;
	-o-box-shadow: 0px 0px 10px $cinza_claro;	
}
/******* GERAIS *******/
html{
	font-size: 10px;
}
*{
	padding: 0;
	margin: 0;
	color: $branco;
	@include font_regular();
}
#servicos,
#principal,
footer{
	padding-top: 10rem;
	padding-bottom: 10rem;
}
a.a-link{
	@include a_link();
}
/******* DIV.IMG-FUNDO *******/
.img-fundo{
	height: 100vh;
	background: url('../img/fitness-banner.jpg');	
	@include background_position_img();
}
/******* NAVBAR *******/
.navbar{
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	padding-top: 2rem;	
	padding-bottom: 2rem;
}
.navbar-header a,
.nav a{
	color: $branco;
}
.nav > li > a{
	margin-left: 2rem;
}
.nav > li > a:focus, 
.nav > li > a:hover{
	@include font_laranja();
	background: none;
	@include transicao_rapida();
}
@media only screen and(max-width: 992px){
	.navbar{
		@include navbar_opacidade();
	}
	.navbar-brand img{
		width: 60%;
	}
}
.navbar-opacidade{
	@include navbar_opacidade();	
}
#btn-menu{
	border: none;
	span{
		background: $branco;
	}
	&:focus{
		background: none;
	}
	&:hover span{
		background: $laranja;
	}
}
/******* SECTION#CHAMADA *******/
#chamada{
	@include font_uppercase();	
}
.chamada-titulo{
	font-size: 4rem;
	margin-top: 80vh;
	margin-bottom: 0;
	span{		
		@include font_verde();
	}
}
.chamada-subtitulo{
	font-size: 1.5rem;
	margin-top: 0;
	margin-left: 20rem;
	span{
		@include font_laranja();
	}

}
/******* SECTION#SERVICOS *******/
#servicos{
	background: $verde;	
}
.servicos-item{
	i.servicos-icone{
		font-size: 5rem;
	}
	h3{
		font-size: 2.4rem;
		margin-bottom: 2rem;		
	}
	p{
		line-height: 1.5;
		font-size: 1.5rem;
	}
}
/******* MAIN#PRINCIPAL *******/
.principal-texto{ 
	height: 300px;
	padding-top: 4rem;
	height: 340px;
	p{
		color: $cinza_escuro;
		font-size: 1.4rem;				
	}
	h4{
		@include font_uppercase;
		@include font_bold();
		color: $laranja;
		font-size: 1.4rem;		
	}
	h3{
		@include font_uppercase;
		@include font_verde();
		font-size: 3.3rem;
		margin-top: 0;
		margin-bottom: 0;
	}
	img{
		margin: 2rem auto;
	}
	a.a-link{
		margin-top: 0;
		margin-bottom: 0;
	}
	a.a-link,
	i{
		@include font_verde();
	}	
}
.principal-container{
	@include box_shadow();
	&:after,
	&:before{
		content: '';
		display: table;
		clear: both;	
	}
}
@media only screen and(max-width: 992px){
	.principal-container{
		max-width: 90%;
		margin: 0 auto;
	}
}
.principal-img#img1{
	background: url('../img/fitness-training.jpg');	
}
.principal-img#img2{
	background: url('../img/fitness-connect.jpg');	
}
.principal-img#img3{
	background: url('../img/fitness-running.jpg');	
}
.principal-img#img4{
	background: url('../img/fitness-beach.jpg');	
}
.principal-img#img5{
	background: url('../img/fitness-fruit.jpg');	
}
.principal-img#img6{
	background: url('../img/fitness-fruits.jpg');	
}
.principal-info{
	margin-top: 28rem;
	padding-bottom: 2rem;
	padding-right: 2rem;
	padding-left: 2rem;
	.principal-num{
		@include font_laranja();
	}
}
/******* SECTION#IDEIAS *******/
#ideias{
	background: url('../img/fitness-goal.jpg');		
	@include background_position_img();
	height: 800px;
	.ideias-titulo{
		font-size: 4.5rem;
		padding-top: 300px;
	}
	.ideias-sub-titulo{
		font-size: 1.5rem;
		padding-top: 2rem;
		max-width: 40%;
		margin: 0 auto;
		line-height: 1.4;
	}
}
/******* FOOTER *******/
footer{
	background: $preto_footer;
	h4{
		font-size: 1.5rem;
		@include font_bold();
	}
	p{
		margin-top: 2rem;
		color: $cinza();
	}
}
form{
	margin-top: 1rem;
	button{
		background: $verde;		
	}
	button,
	.form-group input:last-child{		
		margin-right: .8rem;			
	}
	.btn-success{
		background: $verde;
		padding-left: 2rem;	
		padding-right: 2rem;
	}
	.btn-success:hover{
		background: $verde_hover;
		@include transicao_rapida();
	}
	.btn-success:hover i{
		transform: translate3d(.8rem,0,0);
		@include transicao_rapida();
	}	
}
.with-errors.help-block{
	font-size: 1rem;
	position: absolute;
	@include font_laranja();
}
.redes-sociais i.fa-facebook{
	background: $facebook;
}
.redes-sociais i.fa-twitter{
	background: $twitter;
}
.redes-sociais i.fa-youtube{
	background: $youtube;
}
.redes-sociais i.fa-linkedin{
	background: $linkedin;
}
.redes-sociais{
	margin-top: 2rem;
	a i{
		width: 40px;
		height: 40px;
		font-size: 2rem;
		border-radius: 50%;
		text-align: center;
		padding-top: .9rem;
		margin-right: .5rem;
	}
}
@media only screen and(max-width: 768px){
	.footer-text-center{
		margin-bottom: 3rem;
		text-align: center;
	}
	button[type="submit"]{
		width: 100%;
	}
}

/******* BOTAO VOLTAR TOPO *******/
a[href="#top"]{
	color: $laranja;
	padding: 1rem;
	right: 1rem;
	position: fixed;
	top: 90%;
	display: none;
	font-size: 2.5rem;
	text-decoration: none;
	z-index: 10;
}
a[href="#top"]:hover{
	-webkit-transform: translateY(-1.5rem);
	transform: translateY(-1.5rem);
	@include transicao_rapida();
}
.diminuir-logo{
	width: 60%;
	@include transicao_suave();
}